node_modules
pnpm-lock.yaml

# Contains the PDF file of the Tag as JSON string, thus does not need to be formatted
src/components/CheckIn/tagTemplate.ts

# Ignore custom CSS files
src/css/custom.css
src/css/index.css
static/css/styles-latest.css
