.btn {
    font-size: 17px;
    padding: 5px;
    background-color: #1fa386;
    font-weight: bold;
    font-family: serif;
    border: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    box-shadow: rgb(255, 189, 89) 5px 5px 7px;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clean-link {
    text-decoration: none;
}